@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "Grade Calculator";
}


<!--Grade calcualtor form-->
<h3 style="text-align: center; display: inline-block; text-align: center; list-style-position: inside; margin-left: 20%; margin-right: 20%; ">Grade Calculator</h3>
<br />
<form style="text-align: center; display: inline-block; text-align: center; list-style-position: inside;">
    <label>Please enter your grade as a percentage.</label> <!--Place for the user to input the grade percentage-->
    <input id="percent" type="text" />
    <input id="cal" type="button" value="Calculate Grade" /> <!--Button to submit the information in the form-->
</form>