@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // Razor code to set the title for this page
    ViewData["Title"] = "Mission 3 Ryan Pinkney";

}


<!--Ryan Pinkney
This is the index html page which will display all the requirements of the page.
-->


    <br /><br />

    <!--Header for the site-->
    <h3>Mission 3</h3><br />

    <!--Display my preferred name.-->
    <h3>My Preferred Name: Ryan Pinkney</h3>
    <br /><br />

    <!--Display a picture of me doing something I love-->
    <h4>Here is me doing something I love, which is to travel.</h4><br />
    <img id="rio" width="700px" height="500px" src="img/IMG_3072.jpeg" />
    <br /><br /><br />

    <!--Paragraph about my expectations for the course-->
    <p>
        I am very excited for IS 413, and I know I am going to get a lot out of it. I hope to learn a lot about ASP.NET and
        gain the same level of mastery that I have in Node.js and Django. I am also excited because I can already tell that
        there are going to be many opportunitites to "figure it out", which I know will prepare me for my internship and
        the workplace. I hope that I can also grow a deeper friendship with my teammates through the group assignments, and
        develop greater leadership shills.
    </p>
    <br />

    <!--Display my top three jobs in an ordered list-->
    <h3>Top Three Jobs</h3>
    <ol class="center">
        <li>Security Analyst</li>
        <li>Software Developer</li>
        <li>IT Compliance and Risk Analyst</li>
    </ol><br /><br />

    <!--Extra line breaks to add white space to the bottom of the page-->
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

   

